.section {
  display: flex;
  border-top: 1px solid $color-neutral-1000;
}

.leftColumn {
  flex-basis: 70%;
  padding: 4rem;
}

.rightColumn {
  flex-basis: 30%;
  padding: 4rem;
}

.title {
  @include font-style($font-sans, $font-size-large, $color-neutral-900, $font-weight-medium);
  line-height: 120%;

  @include maxWidthCustom(1084px) {
    font-size: 42px;
  }

  @include maxWidthCustom(920px) {
    font-size: 38px;
  }

  @include maxWidthCustom(820px) {
    font-size: 50px;
  }

  @include maxWidthCustom(565px) {
    font-size: 38px;
  }

  @include maxWidth(xSmall) {
    font-size: 28px;
  }
}

.basketCardContainer,
.orderSummaryContainer {
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
}

.orderSummaryContainer {
  border: 1px solid $color-neutral-1000;
  padding: 2rem;
}

.submitPromoForm,
.subTotalContainer,
.totalContainer {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding-bottom: 2.4rem;

  @include font-style($font-sans, $font-size-base, $color-neutral-900, $font-weight-normal);

  border-bottom: 1px solid #d2d2d7;
}

.submitPromoForm {
  flex-direction: column;
}

.promoInput {
  margin-bottom: 0;
}

/*
.promoSubmitButton,
.checkoutButton {
  padding: 1.5rem 3.5rem;
  @include font-style($font-sans, $font-size-base, $color-neutral-000);
  background-color: #121212;
  text-transform: uppercase;
}

.checkoutButton {
  background-color: $color-neutral-000;
  color: $color-neutral-1000;
  border: 1px solid $color-neutral-1000;
}
*/
