.footer {
  font-family: $font-sans;
  @include font($font-size-base, 1.5rem, $font-weight-bold);
  color: white;
}

.container {
  padding: 3.5rem 1rem;
  border: 1px solid $color-neutral-1000;
  border-bottom: none;

  color: $color-neutral-1000;
}