.footer {
  font-family: $font-sans;
  @include font($font-size-base, 1.5rem, $font-weight-bold);
  color: white;
}

.container {
  @extend %flexwrap;
  flex-basis: 100%;
  flex-grow: 1;
  color: $color-neutral-1000;
  border: 1px solid $color-neutral-1000;

  @include maxWidth(small) {
    border-bottom: none;
  }

  @include maxWidth(xSmall) {
  }
}

.column {
  @extend %flexcolumn;
  flex-basis: 25%;

  row-gap: 2.4rem;
  max-width: 36rem;
  padding: 4rem;

  &:not(:first-child) {
    border-left: 1px solid $color-neutral-1000;
  }

  @include maxWidth(small) {
    flex-basis: 50%;
    border-bottom: 1px solid $color-neutral-1000;

    &:nth-child(3) {
      border-left: none;
    }
  }

  @include maxWidth(xSmall) {
    flex-basis: 100%;
    row-gap: 1.6rem;
    padding-left: 1.6rem;
    border-bottom: 1px solid $color-neutral-1000;
    &:not(:first-child) {
      border-left: none;
    }
  }
}

.orderText {
  @include font-style('Gilroy', $font-size-base, $color-neutral-900);
  line-height: 140%;
}

.order__form {
  @extend %flexcolumn;
}

.input {
  @include font-style('Gilroy', $font-size-base, $color-neutral-900);
  border: 1px solid #d2d2d7;
  padding: 1.95rem 0 1.95rem 1.6rem;

  &:focus-visible {
    outline-color: #121212;
  }
}

.btn {
  @include font-style('Gilroy', $font-size-base, $color-neutral-000);
  line-height: 120%;
  background-color: #121212;
  text-transform: uppercase;
  padding: 1.95rem 0;
}

.title {
  @include font-style('Gilroy', 2.1rem, $color-neutral-500, $font-weight-partly-medium);
  line-height: 120%;

  @include maxWidth(xSmall) {
    font-size: 18px;
  }
}

.subtitle {
  @include font-style('Gilroy', $font-size-small, $color-neutral-500);
  line-height: 120%;
  margin-bottom: 0.8rem;
}

.link {
  @include font-style('Gilroy', $font-size-base, $color-neutral-900, $font-weight-partly-medium);
  line-height: 120%;

  &:not(:last-child) {
    margin-bottom: 0.8rem;
  }

  @include maxWidth(xSmall) {
    font-size: 14px;
  }
}

.social {
  @extend %spacebetween;
}
