.linkButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;

  background-color: $color-neutral-1000;
  transition: $fast-transition;

  font-family: $font-sans;
  color: $color-neutral-000;
  @include font($font-size-base, $font-height-large, $font-weight-medium);
  text-transform: uppercase;

  @include onHover() {
    background-color: $color-neutral-800;
  }
}
