.section {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex-basis: 50%;

  @include maxWidth(small) {
    flex-basis: 100%;
    border-left: none;
  }

  border-top: 1px solid $color-neutral-1000;

  &:last-child {
    border-left: 1px solid $color-neutral-1000;

    @include maxWidth(small) {
      border-left: none;
    }
  }
}

.title {
  @include font-style('Gilroy', 50px, $color-neutral-900, 600);
  line-height: 120%;
  padding: 80px;

  @include maxWidth(xSmall) {
    font-size: 28px;
    padding: 40px 16px;
  }
}
