.section {
  @extend %flexwrap;
}

.promoCodes {
  background-color: $color-neutral-700;
  padding: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  width: 100%;
  border-top: 1px solid $color-neutral-1000;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;

  @include font-style($font-sans, $font-size-medium, $color-neutral-000, $font-weight-medium);
  line-height: 120%;
}

.promoCode {
  transition: $fast-transition;

  &:first-of-type {
    color: rgba(#FFE171, 0.75)
  }

  &:last-of-type {
    color: rgba(#FFB896, 0.75)
  }
  @include onHover() {
    cursor: pointer;

    &:first-of-type {
      color: rgba(#FFE171, 1)
    }

    &:last-of-type {
      color: rgba(#FFB896, 1)

    }
  }
}

.column {
  flex-basis: 50%;
  @extend %flexcolumn;

  @include maxWidthCustom(820px) {
    flex-basis: 100%;
    border-left: none;
  }

  border-top: 1px solid $color-neutral-1000;

  &:last-child {
    border-left: 1px solid $color-neutral-1000;

    @include maxWidthCustom(820px) {
      border-left: none;
    }
  }
}

.titleWrapper,
.serviceTitleWrapper {
  padding: 80px;

  @include maxWidthCustom(1164px) {
    padding: 60px;
  }

  @include maxWidthCustom(1084px) {
    padding: 50px;
  }

  @include maxWidthCustom(920px) {
    padding: 30px;
  }

  @include maxWidthCustom(820px) {
    padding: 60px;
    font-size: 50px;
  }

  @include maxWidthCustom(565px) {
    padding: 28px;
  }

  @include maxWidth(xSmall) {
    padding: 40px 16px;
  }
}

.serviceTitleWrapper {
  border-top: 1px solid $color-neutral-1000;
}

.textCenter {
  text-align: center;
}

.title {
  @include font-style($font-sans, $font-size-large, $color-neutral-900, $font-weight-medium);
  line-height: 120%;

  @include maxWidthCustom(1084px) {
    font-size: 42px;
  }

  @include maxWidthCustom(920px) {
    font-size: 38px;
  }

  @include maxWidthCustom(820px) {
    font-size: 50px;
  }

  @include maxWidthCustom(565px) {
    font-size: 38px;
  }

  @include maxWidth(xSmall) {
    font-size: 28px;
  }
}

.contactForm {
  @extend %flexcolumn;
  row-gap: 24px;
  padding: 80px;
  border-bottom: 1px solid $color-neutral-1000;

  @include maxWidthCustom(1164px) {
    padding: 60px;
  }

  @include maxWidthCustom(1084px) {
    padding: 50px;
  }

  @include maxWidthCustom(920px) {
    padding: 30px;
  }

  @include maxWidthCustom(820px) {
    padding: 60px;
    // font-size: 50px;
  }

  @include maxWidthCustom(565px) {
    padding: 28px;
  }

  @include maxWidth(xSmall) {
    padding: 40px 16px;
  }
}

.label {
  @include font-style($font-sans, 18px, $color-neutral-900, $font-weight-partly-medium);
  line-height: 140%;
}

.inputRow {
  @extend %spacebetween;
  column-gap: 16px;

  @include maxWidthCustom(920px) {
    flex-wrap: wrap;
  }

  @include maxWidthCustom(820px) {
    flex-wrap: nowrap;
  }

  @include maxWidthCustom(565px) {
    flex-wrap: wrap;
  }

  @include maxWidth(xSmall) {
    flex-wrap: wrap;
  }
}
/*
.input {
  flex-basis: 50%;
  @include font-style($font-sans, $font-size-base, $color-neutral-900);
  border: 1px solid #d2d2d7;
  padding: 1.95rem 0 1.95rem 1.6rem;

  &:focus-visible {
    outline-color: #121212;
  }
}

.btn {
  flex-basis: 50%;
  padding: 1.95rem 0;

  @include font-style($font-sans, $font-size-base, $color-neutral-000);
  line-height: 120%;
  background-color: #121212;
  text-transform: uppercase;
}
*/

.inputWrapper,
.btnWrapper {
  flex-basis: 50%;

  @include maxWidthCustom(920px) {
    //flex-grow: 1;
    flex-basis: 100%;
  }

  @include maxWidthCustom(820px) {
    flex-basis: 50%;
  }

  @include maxWidthCustom(565px) {
    flex-basis: 100%;
  }

  @include maxWidth(xSmall) {
    flex-basis: 100%;
  }
}

.btnWrapper {
  padding-top: 10px;
}

.row {
  // @extend %flexwrap;
  display: flex;

  @include maxWidthCustom(1084px) {
    flex-wrap: wrap;
    flex-grow: 1;
  }

  @include maxWidthCustom(820px) {
    flex-wrap: nowrap;
    flex-grow: 0;
  }

  @include maxWidthCustom(565px) {
    flex-wrap: wrap;
  }
}

.block {
  flex-basis: 50%;
  text-align: center;
  align-self: center;
  align-content: center;
  padding: 16px 40px;

  &:first-child {
    border-right: 1px solid $color-neutral-1000;
  }

  @include maxWidthCustom(1164px) {
    padding: 14px 24px;
  }

  @include maxWidthCustom(1084px) {
    flex-wrap: wrap;
    flex-basis: 100%;

    &:first-child {
      border-right: none;
      border-bottom: 1px solid $color-neutral-1000;
    }
  }

  @include maxWidthCustom(820px) {
    flex-wrap: nowrap;
    flex-basis: 50%;
    // padding: 16px 40px;

    &:first-child {
      border-right: 1px solid $color-neutral-1000;
      border-bottom: none;
    }
  }

  @include maxWidthCustom(565px) {
    flex-wrap: wrap;
    flex-basis: 100%;
    &:first-child {
      border-right: none;
      // border-bottom: 1px solid $color-neutral-1000;
    }
  }

  @include maxWidth(xSmall) {
    flex-basis: 100%;

    &:first-child {
      border-right: none;
    }
  }
}

.blockTitle {
  @include font-style($font-sans, 38px, $color-neutral-900, $font-weight-partly-medium);
  line-height: 120%;

  @include maxWidth(xSmall) {
    font-size: $font-size-medium-mobile;
  }
}

.contactInfo {
  @extend %flexwrap;
  flex-grow: 1;
}

.contactInfoColumn {
  flex-basis: 50%;
  @extend %flexcolumn;
  flex-wrap: wrap;

  &:first-child {
    border-right: 1px solid $color-neutral-1000;
  }

  @include maxWidthCustom(565px) {
    flex-basis: 100%;

    &:first-child {
      border-right: none;
      border-bottom: 1px solid $color-neutral-1000;
    }
  }

  @include maxWidth(xSmall) {
    flex-basis: 100%;

    &:first-child {
      border-right: none;
      border-bottom: 1px solid $color-neutral-1000;
    }
  }
}

.contactInfoBlock {
  text-align: center;
  padding: 16px 40px;
  border-bottom: 1px solid $color-neutral-1000;

  @include maxWidthCustom(944px) {
    padding: 16px 24px;
  }

  @include maxWidthCustom(820px) {
    padding: 16px 40px;
  }

  @include maxWidth(xSmall) {
    text-align: left;
    padding: 16px;
  }
}

.contactInfoContainer {
  flex-basis: 50%;

  @extend %flexcolumn;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  row-gap: 24px;
  padding: 24px;

  &:first-child {
    border-right: 1px solid $color-neutral-1000;
  }

  @include maxWidth(xSmall) {
    text-align: left;
    padding: 40px 16px;
    align-items: flex-start;
  }
}

.contactText {
  @include font-style($font-sans, $font-size-base, $color-neutral-900, $font-weight-medium);
  line-height: 120%;
}

.locationText {
  @include font-style($font-sans, $font-size-small, $color-neutral-900, $font-weight-partly-medium);
  line-height: 120%;
  text-transform: uppercase;
}

.social {
  @extend %spacebetween;
  align-items: stretch;
  column-gap: 32px;

  li {
    min-width: 20px;
  }
}

.serviceContainer {
  @extend %flexcolumn;
  justify-content: center;
  align-items: center;
  padding: 80px;
  border-top: 1px solid $color-neutral-1000;
  text-align: center;
  background-image: url(../../app/assets/images/weedingImage21.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  height: 720px;

  @include maxWidthCustom(615px) {
    height: 540px;
    padding: 40px 16px;
  }

  @include maxWidthCustom(487px) {
    height: 420px;
    padding: 40px 16px;
  }
}

.serviceSubtitle {
  @include font-style($font-sans, $font-size-small, $color-neutral-000, $font-weight-partly-medium);
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.serviceTitle {
  @include font-style($font-sans, $font-size-large, $color-neutral-000, $font-weight-medium);
  line-height: 120%;
  margin-bottom: 16px;

  @include maxWidth(xSmall) {
    font-size: $font-size-large-mobile;
  }
}

.serviceText {
  @include font-style($font-sans, 18px, $color-neutral-000, $font-weight-partly-medium);
  line-height: 140%;
  max-width: 620px;
  margin-bottom: 64px;

  @include maxWidth(xSmall) {
    max-width: 320px;
  }
}
