.header {
  background-color: $color-neutral-000;
}

.container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $color-neutral-1000;

  @include maxWidthCustom(805px) {
    justify-content: flex-start;
    flex-direction: column;
  }
}

.leftContainer,
.rightContainer {
  display: flex;
  border-left: 1px solid $color-neutral-1000;

  @include maxWidthCustom(805px) {
    flex-direction: column;

    a:not(:last-child),
    button {
      border-bottom: 1px solid $color-neutral-1000;
    }
  }
}

.leftContainer {
  @include maxWidthCustom(805px) {
    border-bottom: 1px solid $color-neutral-1000;
  }
}
