.header {
  background-color: $color-neutral-000;
}

.container {
  @extend %aligncenter;
  border-bottom: 1px solid $color-neutral-1000;
}

.leftContainer, .rightContainer {
  border-left: 1px solid $color-neutral-1000;
  @extend %aligncenter;
}

.rightContainer {
  margin-left: auto;
}