.controlButtonsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem
}

.disabled {
  @extend %disabled;
  background-color: $color-neutral-400;

  @include onHover() {
    cursor: auto;
  }
}

.addressContainer {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding-bottom: 1rem;

  @include maxWidth(small) {
    flex-direction: column;
  }

  width: 100%;
}