.productsContainer {
  padding-bottom: 5rem;
  display: flex;
  border-top: 1px solid $color-neutral-1000;

  @include maxWidthCustom(820px) {
    flex-direction: column;
  }
}

.filterContainer {
  display: flex;
  flex-direction: column;
  padding: 20px 28px;
  border-top: 1px solid $color-neutral-1000;

  row-gap: 2rem;

  @include maxWidthCustom(430px) {
    padding: 20px 16px;
  }
}

.filterRow {
  display: flex;
  justify-content: space-between;
  // flex-wrap: wrap;
  align-items: center;
  column-gap: 3.2rem;

  @include maxWidthCustom(565px) {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 2rem;
  }

  @include maxWidthCustom(430px) {
    padding: 20px 16px;
  }
}

.submitSearchForm {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.searchInput {
  margin-bottom: 0;
}

.searchSubmitButton {
  flex-basis: 50%;
  padding: 1.5rem 3.5rem;

  @include font-style($font-sans, $font-size-base, $color-neutral-000);
  line-height: 160%;
  background-color: #121212;
  text-transform: uppercase;
}

.categoriesContainer {
  display: flex;
  column-gap: 2rem;
  flex-wrap: wrap;
}

.rightColumn,
.leftColumn {
  flex-basis: 50%;
}

.link {
  @include font-style('Gilroy', $font-size-base, $color-neutral-900, $font-weight-partly-medium);

  line-height: 120%;

  transition: $fast-transition;
  @include onHover() {
    color: green;
  }
}

.titleWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
  height: 668px;
  background-image: url(../../app/assets/images/flowers-bg4.jpeg);
  background-repeat: no-repeat;
  background-size: cover;

  border-bottom: 1px solid $color-neutral-1000;

  @include maxWidthCustom(1050px) {
    height: 500px;
  }

  @include maxWidthCustom(820px) {
    height: 430px;
  }

  @include maxWidthCustom(565px) {
    padding: 80px 40px;
    height: 230px;
  }

  @include maxWidth(xSmall) {
    padding: 40px 16px;
    height: 180px;
  }
}

.title {
  @include font-style('Gilroy', $font-size-large, $color-neutral-000, $font-weight-medium);
  line-height: 120%;
  text-align: center;

  @include maxWidthCustom(820px) {
    font-size: 50px;
  }

  @include maxWidthCustom(565px) {
    font-size: 38px;
  }

  @include maxWidth(xSmall) {
    font-size: 28px;
  }
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
}

.category {
  transition: $fast-transition;

  @include onHover() {
    cursor: pointer;
    color: $color-accent-600
  }

  &.active {
    color: $color-accent-600
  }
}

.dropDownContainer {
  padding: 1rem;
  @include onHover() {
    cursor: pointer;
  }
}

.sortByPrefix {
  font-weight: $font-weight-normal;
}

.noMatches {
  padding: 2rem;
  @include font-style('Gilroy', $font-size-large, $color-neutral-1000, $font-weight-medium);
  line-height: 120%;
  text-align: center;
}