.container {
  display: flex;
  border-top: 1px solid $color-neutral-1000;

  @include maxWidthCustom(820px) {
    flex-direction: column;
  }
}

.rightColumn,
.leftColumn {
  flex-basis: 50%;
}

.link {
  @include font-style('Gilroy', $font-size-base, $color-neutral-900, $font-weight-partly-medium);

  line-height: 120%;

  transition: $fast-transition;
  @include onHover() {
    color: green;
  }
}

.titleWrapper {
  padding: 80px;
  background-image: url(../../app/assets/images/flowers-bg4.jpeg);
  background-repeat: no-repeat;
  background-size: cover;

  border-bottom: 1px solid $color-neutral-1000;

  @include maxWidthCustom(565px) {
    padding: 80px 40px;
  }

  @include maxWidth(xSmall) {
    padding: 40px 16px;
  }
}

.title {
  @include font-style('Gilroy', $font-size-large, $color-neutral-000, $font-weight-medium);
  line-height: 120%;
  text-align: center;

  @include maxWidthCustom(820px) {
    font-size: 50px;
  }

  @include maxWidthCustom(565px) {
    font-size: 38px;
  }

  @include maxWidth(xSmall) {
    font-size: 28px;
  }
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex-basis: 50%;
  border-bottom: 1px solid $color-neutral-1000;
  border-left: 1px solid $color-neutral-1000;

  @include maxWidthCustom(820px) {
    &:nth-child(odd) {
      border-left: none;
    }
  }

  @include maxWidthCustom(430px) {
    flex-basis: 100%;
    border-left: none;
    &:last-child {
      border-bottom: none;
    }
  }
}

.cardImage {
  border-bottom: 1px solid $color-neutral-1000;
}

.cardTitle {
  @include font-style($font-sans, $font-size-base, $color-neutral-900, $font-weight-partly-medium);
  text-align: center;
  padding: 16px 0;
  border-bottom: 1px solid $color-neutral-1000;
}

.cardPrice {
  @include font-style($font-sans, $font-size-base, $color-neutral-900, $font-weight-partly-medium);
  text-align: center;
  padding: 16px 0;
}
