@use '../abstracts' as *;

$active-theme: $light;

:root {
  @each $color, $shade-map in $active-theme {
    @each $shade, $value in $shade-map {
      --#{$color}-#{$shade}: #{$value};
    }
  }
}

@if ($enable-media-query-dark-mode) {
  @media (prefers-color-scheme: dark) {
   :root {
      @each $color, $shade-map in $dark {
        @each $shade, $value in $shade-map {
           --#{$color}-#{$shade}: #{$value};
         }
      }
   }
  }
}

body[data-theme="dark"] {
    @each $color, $shade-map in $dark {
      @each $shade, $value in $shade-map {
         --#{$color}-#{$shade}: #{$value};
       }
    }
}


.wrapper {
  height: 100%;
  width: 100%;
  max-width: $max-width;
  padding: 0 20px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  @include maxWidth(small) {
    padding: 0 10px;
  }
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
}

.overflow-hidden {
  overflow: hidden;
}

body,
#root,
#__next {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}